body {
    background-image: url("./background_image.jpg"); */
    background-position: center;
    background-repeat: repeat;
    background-size: 2000px 1000px;
}

.header {
    background-color: black; 
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0px;
}

.allforecast {
    display: none;
}


#weatherblock {
    border: 1px ridge white;
    border-radius: 10px;   
    background-color: white;
    margin: 10px; 
    padding: 10px 20px;
    display: none; 

}

#icon {
    font-size: 10px;
}

#leftColumn {
    /* background-color: lightgrey; */
    padding: 10px;
    margin: 0px;
    margin-left: 0px;
    text: white;
}

div.card > {
    font-size: 14px;
}

.card-body {
  /*  background-color: lightgrey; */
}

.title-text {
    color: white;
}