body {
    background-image: url("./background_image.jpg"); */
    background-position: center; 
    background-size: 2000px 1000px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: black; 
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0px;
}


.allforecast {
    display: none;
    color: black;
    margin: 10px; 
  /*   padding: 10px 20px; */
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.title-text-5day {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#weatherblock {
    color: white;
    margin: 10px; 
    padding: 10px 20px;
    align-items: center;
    display: none; 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#icon {
    font-size: 10px;
}

#leftColumn {
    /* background-color: lightgrey; */
    padding: 10px;
    margin: 0px;
    margin-left: 0px;
    text: white;
}

div.card > {
    font-size: 14px;
    background-color:rgb(255, 255, 255);
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


 #cities {
    color: black;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} 

.list-group-item {
    background-color: black;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.col-sm {
    margin-bottom: 10px;
}
.card {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-body {
/*     display: grid;
    gap: 1px; */
    background-color:rgba(255, 255, 255, .5);
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}